<div class="{{ b('page').m('super').addClass('no-js') }}">
    <h1 class="{{ b('page').e('title').m('valid').m('type', 'string') }}">Hello</h1>
    <div class="{{ b('page').e('content') }}">Some content</div>
</div>